<section class="hero large-hero" style="background-image:url(assets/images/hero-2.jpg);">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title hidden">Contact Us</h1>
            </div>
        </div>
    </div>
</section>


<!-- Main Section
================================================== -->

<section class="main container">
    <div class="row">

        <h3 class="hidden">Contact Details</h3>

        <div class="col-lg-8 col-lg-offset-2">
            <article id="post-333" class="post-333 page type-page status-publish has-post-thumbnail hentry">
                <div class="entry-content">
                    <div style="text-align:center">
                        <h2>Get in touch with us.</h2>
                        <p class="lead">Looking for something or have destination suggestions?
                            <br>Tell us about it!</p>
                        <div class="row">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/Smart-Travel-262467937582067/" target="_blank" class="text-muted"><i class="fa fa-facebook fa-fw fa-2x"></i></a></li>
                                <li><a href="https://plus.google.com/+SebastianCheung" target="_blank" class="text-muted"><i class="fa fa-google-plus fa-fw fa-2x"></i></a></li>
                                <li><a href="https://twitter.com/SmartTravel19" target="_blank" class="text-muted"><i class="fa fa-twitter fa-fw fa-2x"></i></a></li>
                            </ul>
                        </div>
                        <hr class="small">
                        <div style="width: 600px; text-align: left; margin: 0 auto; max-width: 100%">
                            <form [formGroup]="contactUsForm" novalidate (submit)="saveFeedback()">
                                <p>Fields marked with an <span class="text-warning">*</span> are required</p>

                                <div class="form-group">
                                    <input type="text" placeholder="Name *" class="form-control" formControlName="name">
                                    <label for="name_field" *ngIf="contactUsForm.get('name').hasError('required') && contactUsForm.get('name').touched">Please enter your name.</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email *" class="form-control" formControlName="email">
                                    <label for="name_field" *ngIf="contactUsForm.get('email').hasError('required') && contactUsForm.get('email').touched">Please enter your email address.</label>
                                    <label for="name_field" *ngIf="!contactUsForm.get('email').hasError('required') && contactUsForm.get('email').hasError('email') && contactUsForm.get('email').touched">Please enter valid email address.</label>
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Message *" formControlName="comments" class="form-control" rows="3"></textarea>
                                    <label for="name_field" *ngIf="contactUsForm.get('comments').hasError('required') && contactUsForm.get('comments').touched">Please enter message.</label>
                                </div>

                                <input type="submit" class="display-block" [disabled]="contactUsForm.invalid" style="margin: 0 auto;" value="Send Message">
                                <p *ngIf="isSaved">Thank you for your feedback. Your feedback saved.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>