<section class="hero large-hero" style="background-image:url(assets/images/hero-2.jpg);">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title hidden">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="main container">
    <div class="row">
        <div class="col-sm-12">
            <header class="page-header">
                <h1 class="page-title">About SmartTravel!</h1>
            </header>
            <article class="pagehentry">
                <div class="entry-summary">
                    <p class="lead">Our goal to help you to search and get recommendations from reviewers, discover places to visit, collect
                        places you love or want to visit, and recommend places you love or whislist them.</p>
                </div>
            </article>
        </div>

    </div>
</section>