<footer id="footer">
    <section class="top-footer regular">
        <div class="container">
            <div class="row">

                <h3 class="hidden">More Resources</h3>

                <div class="col-lg-9">
                    <div class="footer-content-left">

                        <p style="font-size:14px; color:#aaa;">
                            <a href="">About Us</a> &nbsp; | &nbsp;
                            <a href="">Sign in</a> &nbsp; | &nbsp;
                            <a href="">Be an Explorer!</a> &nbsp; | &nbsp;
                            <a href="">Destinations</a> &nbsp; | &nbsp;
                            <a href="">Contact us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>