<!-- Hero Section
		================================================== -->
<section class="hero hero-overlap" style="background-image: url('assets/images/hero-1.jpg');">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title">Where the Journey Begins</h1>
                <div class="intro-text"> Discover your next great adventure, <a href="#">become an explorer</a> to get started!</div>
            </div>
        </div>
    </div>
</section>


<!-- Featured Destinations
		================================================== -->
<section class="featured-destinations">
    <div class="container">
        <div class="cards overlap">

            <!-- Section Title -->
            <div class="title-row">
                <h3 class="title-entry">Featured Destinations</h3>
                <a [routerLink]="['../cities']" class="btn btn-primary btn-xs">Find More &nbsp; <i class="fa fa-angle-right"></i></a>
            </div>

            <!-- Cards Row -->
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of cityList">
                    <article class="card">
                        <a href="javascript:void(0);" class="featured-image" [ngStyle]="{ 'background-image': 'url(assets/images/cities/' + item.imagePath + ')'}">
                            <div class="featured-img-inner"></div>
                        </a>
                        <div class="card-details">
                            <h4 class="card-title"><a href="javascript:void(0);">{{item.name}}</a></h4>
                            <div class="meta-details clearfix">
                                <ul class="hierarchy">
                                    <li class="symbol"><i class="fa fa-map-marker"></i></li>
                                    <li><a href="javascript:void(0);">{{item.country}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>


<!-- Home Page Search Section
		================================================== -->
<section class="regular">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <figure style="text-align:center">
                    <img src="assets/images/logo-symbol-complex-colors.png" alt="GoExplore!" width="387" height="214">
                </figure>
            </div>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0">

                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <h3 style="text-align: center;">Be more than just another traveler when you <em>GoExplore!</em></h3>
                </div>
                <div class="col-sm-12">
                    <form class="big-search">
                        <input type="text" placeholder="Find Your Next Destination...">
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>