<!-- Hero Section
		================================================== -->
<section class="hero hero-overlap" style="background-image: url('assets/images/hero-1.jpg');">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title">Where the Journey Begins</h1>
                <div class="intro-text"> Discover your next great adventure, <a href="#">become an explorer</a> to get started!</div>
            </div>
        </div>
    </div>
</section>


<!-- Featured Destinations
		================================================== -->
<section class="featured-destinations">
    <div class="container">
        <div class="cards overlap">

            <!-- Section Title -->
            <div class="title-row">
                <h3 class="title-entry">Featured Destinations</h3>
                <a href="destinations-list.html" class="btn btn-primary btn-xs">Find More &nbsp; <i class="fa fa-angle-right"></i></a>
            </div>

            <!-- Cards Row -->
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="card">
                        <a href="destination-parent.html" class="featured-image" style="background-image: url(assets/images/featured-destination-1.jpg)">
                            <div class="featured-img-inner"></div>
                        </a>
                        <div class="card-details">
                            <h4 class="card-title"><a href="destination-parent.html">Sydney, Australia</a></h4>
                            <div class="meta-details clearfix">
                                <ul class="hierarchy">
                                    <li class="symbol"><i class="fa fa-map-marker"></i></li>
                                    <li><a href="destination-parent.html">Oceania</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="card">
                        <a href="destination-parent.html" class="featured-image" style="background-image: url(assets/images/featured-destination-2.jpg)">
                            <div class="featured-img-inner"></div>
                        </a>
                        <div class="card-details">
                            <h4 class="card-title"><a href="destination-parent.html">Yellowstone, USA</a></h4>
                            <div class="meta-details clearfix">
                                <ul class="hierarchy">
                                    <li class="symbol"><i class="fa fa-map-marker"></i></li>
                                    <li><a href="destination-parent.html">North America</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="card">
                        <a href="destination-parent.html" class="featured-image" style="background-image: url(assets/images/featured-destination-3.jpg)">
                            <div class="featured-img-inner"></div>
                        </a>
                        <div class="card-details">
                            <h4 class="card-title"><a href="destination-parent.html">Queenstown, New Zealand</a></h4>
                            <div class="meta-details clearfix">
                                <ul class="hierarchy">
                                    <li class="symbol"><i class="fa fa-map-marker"></i></li>
                                    <li><a href="destination-parent.html">Oceania</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <article class="card">
                        <a href="destination-parent.html" class="featured-image" style="background-image: url(assets/images/featured-destination-4.jpg)">
                            <div class="featured-img-inner"></div>
                        </a>
                        <div class="card-details">
                            <h4 class="card-title"><a href="destination-parent.html">Zermatt, Switzerland</a></h4>
                            <div class="meta-details clearfix">
                                <ul class="hierarchy">
                                    <li class="symbol"><i class="fa fa-map-marker"></i></li>
                                    <li><a href="destination-parent.html">Europe</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
</section>


<!-- Home Page Search Section
		================================================== -->
<section class="regular">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <figure style="text-align:center">
                    <img src="assets/images/logo-symbol-complex-colors.png" alt="GoExplore!" width="387" height="214">
                </figure>
            </div>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-0">

                <div class="col-md-12 col-lg-10 col-lg-offset-1">
                    <h3 style="text-align: center;">Be more than just another traveler when you <em>SmartTravel!</em></h3>
                </div>
                <div class="col-sm-12">
                    <form class="big-search">
                        <input type="text" placeholder="Find Your Next Destination...">
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Home Page Accordion Section
		================================================== -->
<section class="regular background">
    <div class="container">
        <div class="row">

            <h3 class="hidden">Destination Categories</h3>

            <div class="col-md-6 col-lg-4">
                <article class="card accordion-card">
                    <header>
                        <h3 class="section-title">Adventure Seekers</h3>
                        <p>With endless hiking trails, these destinations will satisfy the wildest explorers!</p>
                    </header>
                    <div class="accordion-panel">
                        <div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-20-960x540.jpg');">
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Buenos Aires, Argentina</h4>
                                        <ul class="hierarchy">
                                            <li>South America</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-11-960x540.jpg');">
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Queenstown, New Zealand</h4>
                                        <ul class="hierarchy">
                                            <li>Oceania</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-10-960x540.jpg');">
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Zermatt, Switzerland</h4>
                                        <ul class="hierarchy">
                                            <li>Europe</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer><a href="#">Find More &nbsp; <i class="fa fa-arrow-right"></i></a></footer>
                </article>
                <!-- /.accordion-card -->
            </div>

            <div class="col-md-6 col-lg-4">
                <article class="card accordion-card">
                    <header>
                        <h3 class="section-title">Beach Lovers</h3>
                        <p>Head for a swim and relax on the warm, golden sand. Life's a beach!</p>
                    </header>
                    <div class="accordion-panel">
                        <div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-14-960x540.jpg');">
                                <div id="collapseOne-2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                                    <div class="panel-heading" role="tab" id="headingOne-2">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Acapulco, Mexico</h4>
                                        <ul class="hierarchy">
                                            <li>North America</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-13-960x540.jpg');">
                                <div id="collapseTwo-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-2">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2" aria-expanded="true" aria-controls="collapseTwo-2">
                                    <div class="panel-heading" role="tab" id="headingTwo-2">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Whitehaven Beach, Australia</h4>
                                        <ul class="hierarchy">
                                            <li>Oceania</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-5-960x540.jpg');">
                                <div id="collapseThree-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2" aria-expanded="true" aria-controls="collapseThree-2">
                                    <div class="panel-heading" role="tab" id="headingThree-2">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Algarve, Portugal</h4>
                                        <ul class="hierarchy">
                                            <li>Europe</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer><a href="#">Find More &nbsp; <i class="fa fa-arrow-right"></i></a></footer>
                </article>
                <!-- /.accordion-card -->
            </div>

            <div class="col-md-12 col-lg-4">
                <article class="card accordion-card">
                    <header>
                        <h3 class="section-title">Crowd Escapers</h3>
                        <p>Step away from the crowd, explore places where you'll feel no one has ever been before.</p>
                    </header>
                    <div class="accordion-panel">
                        <div class="panel-group" id="accordion-3" role="tablist" aria-multiselectable="true">
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-22-960x540.jpg');">
                                <div id="collapseOne-3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                                    <div class="panel-heading" role="tab" id="headingOne-3">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Galapagos Islands, Ecuador</h4>
                                        <ul class="hierarchy">
                                            <li>South America</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-19-960x540.jpg');">
                                <div id="collapseThree-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseThree-3" aria-expanded="true" aria-controls="collapseThree-3">
                                    <div class="panel-heading" role="tab" id="headingThree-3">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Yellowstone, USA</h4>
                                        <ul class="hierarchy">
                                            <li>North America</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                            <!-- Guide Panel -->
                            <div class="panel panel-default" style="background-image: url('assets/images/destinations-21-960x540.jpg');">
                                <div id="collapseFour-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="read-more">Details <i class="fa fa-arrow-right"></i></div>
                                        <a href="guide-single.html">
                                            <div class="spacer"></div>
                                        </a>
                                    </div>
                                </div>
                                <a data-toggle="collapse" data-parent="#accordion-3" href="#collapseFour-3" aria-expanded="true" aria-controls="collapseFour-3">
                                    <div class="panel-heading" role="tab" id="headingFour-3">
                                        <div class="panel-icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <h4 class="panel-title">Foz do Iguacu, Brasil</h4>
                                        <ul class="hierarchy">
                                            <li>South America</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <footer><a href="#">Find More &nbsp; <i class="fa fa-arrow-right"></i></a></footer>
                </article>
                <!-- /.accordion-card -->
            </div>

        </div>
    </div>
</section>


<!-- Full Width Carousel
		================================================== -->
<!--
<section class="featured-slider">

    <h3 class="hidden">Highlights</h3>

    <div class="featured-carousel">
        <div class="item">
            <div class="bg-img" style="background-image: url(assets/images/destination-1.jpg)"></div>
            <div class="color-hue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-6">
                        <article>
                            <h3>Algarve, Portugal</h3>
                            <p class="lead">The Algarve is Portugal's most popular holiday destination....</p>
                            <a href="#" class="btn btn-primary">Read More &nbsp; <i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bg-img" style="background-image: url(assets/images/destination-2.jpg)"></div>
            <div class="color-hue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-6">
                        <article>
                            <h3>London, England</h3>
                            <p class="lead">A truly multicultural, megalopolis of people, ideas and frenetic energy. London is divided into
                                thirty-two boroughs, with unlimited opportunity for sightseeing. Packed with excellent ...</p>
                            <a href="#" class="btn btn-primary">Read More &nbsp; <i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="bg-img" style="background-image: url(assets/images/destination-3.jpg)"></div>
            <div class="color-hue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-6">
                        <article>
                            <h3>Scala dei Turchi, Italy</h3>
                            <p class="lead">Near southern Sicily, the Scala has become an attraction thanks to its unusual white color. Formed
                                by a sedimentary rock with a distinct white color ...</p>
                            <a href="#" class="btn btn-primary">Read More &nbsp; <i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="bg-img" style="background-image: url(assets/images/destination-4.jpg)"></div>
            <div class="color-hue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-6">
                        <article>
                            <h3>South America</h3>
                            <p class="lead">Nestled between the Caribbean, the South Pacific, and the South Atlantic Oceans, South America
                                is the wilder of the Americas, and a continent of superlatives...</p>
                            <a href="#" class="btn btn-primary">Read More &nbsp; <i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="bg-img" style="background-image: url(assets/images/destination-5.jpg)"></div>
            <div class="color-hue"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-md-offset-6">
                        <article>
                            <h3>North America</h3>
                            <p class="lead">North America consists of three large nations and one large island territory: Canada, United
                                States of America, Mexico and Greenland...</p>
                            <a href="#" class="btn btn-primary">Read More &nbsp; <i class="fa fa-angle-right"></i></a>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->
